// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 8px 25px;
  transition: all .3s ease-in-out;

  &:active,
  &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
}

// Button Primary
.btn-primary {
  background-color: $ubuntu-purple-light;
  border: 1px solid $ubuntu-purple-light;

  &:hover,
  &:active,
  &:focus {
    background-color: $ubuntu-purple-dark!important;
    border: 1px solid $ubuntu-purple-dark!important;
  }
}

// Button Primary Outline
.btn-outline-primary {
  border: 1px solid $ubuntu-purple-light;
  color: $ubuntu-purple-light;
  background-color: white;

  &:hover,
  &:active,
  &:focus {
    background-color: $ubuntu-purple-light!important;
    color: white!important;
    border: 1px solid $ubuntu-purple-light!important;
  }
}

// Button Secondary
.btn-secondary {
  background-color: $purple;
  border: 1px solid $purple;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($purple, 10%)!important;
    border: 1px solid darken($purple, 10%)!important;
  }
}

// Button Rounded
.btn-rounded {
  border-radius: 100px;
}