// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 8px 25px;
}

.btn-outline-secondary {
  border: 1px solid $ubuntu-purple;
  color: $ubuntu-purple;

  &:hover,
  &:active {
    background-color: $ubuntu-purple;
    color: white;
    border: 1px solid $ubuntu-purple;
  }
}

.btn-rounded {
  border-radius: 100px;
}