// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'ubuntu';
  src: url('../font/Ubuntu-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../font/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-mono';
  src: url('../font/UbuntuMono-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}