// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.bold {
  font-weight: 700!important;
}

.light {
  font-weight: 300!important;
}

.bg-green {
  background-color: $blog-green;
}

.bg-purple {
  background-color: $blog-purple;
}

.bg-red {
  background-color: $blog-red;
}