// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$gray-light: #d8d8d8;
$off-white: #f4f4f4;
$purple: #4B39FF;
$green: #1DBE3B;
$red: #FF3961;

// Ubuntu Colors
$ubuntu-purple: #7D1F4D;
$ubuntu-purple-light: #8B3583;
$ubuntu-purple-dark: #3A0628;
$ubuntu-orange: #E95420;

// Container Sizes
$container-large: 1300px;