// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$gray-light: #d8d8d8;
$off-white: #f4f4f4;

$ubuntu-purple: #8B3583;
$ubuntu-orange: #E95420;

$link-color: #4B39FF;




// Container Sizes
$container-large: 1300px;